* {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  user-select: none;
}
/* main */
main {
  display: flex;
}
/* one */
.one {
  position: relative;
  flex-grow: 1;
  height: 98vh;
  width: 55%;
  background-image: url(./images/bg-pattern-desktop.svg);
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 90px;
  box-sizing: border-box;
}
h1 {
  transition: 1s;
  opacity: 0;
  left: 500px;
  position: relative;
  font-size: 4rem;
  letter-spacing: 5px;
  font-weight: 600;
  text-transform: uppercase;
  width: 527px;
  color: hsl(0, 6%, 24%);
}
.we {
  color: hsl(0, 36%, 70%);
  letter-spacing: inherit;
  font-size: inherit;
  font-weight: 300;
}
p {
  transition: 1s;
  opacity: 0;
  left: -500px;
  position: relative;
  font-size: 17px;
  line-height: 1.5rem;
  text-align: start;
  color: hsl(0, 36%, 70%);
  width: 460px;
}

.logo {
  transition: 1s;
  opacity: 0;
  left: -168px;
  bottom: 80px;
  position: relative;
}
input {
  width: 460px;
  height: 40px;
  border: 1px solid;
  border-color: hsl(0, 74%, 74%);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  outline: 0;
}
input::placeholder {
  color: hsl(0, 36%, 70%);
  opacity: 0.5;
}
.lap {
  transition: 1s;
  opacity: 0;
  left: 500px;
  position: relative;
  border-radius: 30px;
}
.arrow:active {
  padding: 5px;
  right: 1px;
  top: -8px;
  box-shadow: 0px 0px 10px 0px hsl(0, 80%, 86%);
}
.arrow {
  border-radius: 30px;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  width: 97px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  position: absolute;
  top: 1px;
  right: 0;
  cursor: pointer;
}
#inp_one {
  padding-left: 41px;
}
.error {
  display: none;
  position: absolute;
  top: 9px;
  right: 114px;
}
.for_error {
  display: none;
  position: absolute;
  bottom: -32px;
  color: red;
  left: 0;
  padding-left: 41px;
}
/* two */
.two {
  width: 45%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./images/hero-desktop.jpg);
}
.two img {
  /* width: 100%; */
  height: 100%;
}
.mobile {
  display: none;
}
@media (min-width: 912px) and (max-width: 1090px) {
  input {
    width: 314px;
  }
  .one {
    padding: 20px;
  }
}
@media (max-width: 500px) {
  .one {
    gap: 17px;
  }
  .attribution {
    display: none;
  }
}
@media (max-width: 912px) {
  .two {
    display: none;
  }
  .one {
    padding: 0px;
    justify-content: start;
  }
  h1 {
    text-align: center;
    width: 100%;
  }
  .logo {
    padding-top: 30px;
    left: 10px;
    bottom: 0;
  }
  .mobile {
    top: 76px;
    display: block;
  }
  p {
    padding: 27px;
    text-align: center;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
  }
  .lap {
    align-self: center;
  }
  input {
    width: 266px;
  }
  .par_mobile {
    background-image: url(./images/hero-mobile.jpg);
    width: 100%;
    height: 27%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
